<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Task Manager, Projects, html, javascript, tailwindcss">
  <meta name="author" content="Biprangshu Das">
  <title>Clock | PlanIT</title>
  <link rel="shortcut icon" href="assets/pngegg.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style2.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-300 dark:bg-gray-600">
    <!-- Navbar -->
  <%- include("components/navbar.ejs") %>
  <!--main content starts-->
  <main class="flex flex-col items-center justify-center min-h-screen space-y-5">
    <div class="lightdarkmode justify-end">
      <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
    </button>
    </div>
    <div id="clockarea" class="text-center py-10 text-2xl">
      <p class="text-2xl sm:text-3xl dark:text-white lg:text-5xl">The <span class="text-[#8CA874] dark:text-[#638951]">time</span> right now is:</p>
    </div>
    <div id="timearea"
      class="text-7xl sm:text-8xl lg:text-9xl text-center text-[#4e702d] dark:text-white font-mono sm:px-5 sm:py-5 sm:rounded-lg"
      style="text-shadow: 0 3px 5px rgba(0, 0, 0, 0.082);"></div>
  </main>
  <!--main content ends-->
  <!--footer starts-->
  <%- include("components/footer.ejs") %>
  <!--footer ends-->
  <script src="js/script1.js"></script>
  <script src="js/script2.js"></script>
  <script src="js/lightdark.js"></script>
</body>
</html>