<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Task Manager, Projects, html, javascript, tailwindcss">
  <meta name="author" content="Biprangshu Das">
  <title>Sign in | PlanIT</title>
  <link rel="shortcut icon" href="assets/pngegg.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" href="css/style1.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200 dark:bg-gray-300">
    <!-- Navbar -->
  <%- include("components/navbar.ejs") %>
  <!--main content starts-->
  <main class="flex max-h-screen max-w-screen-2xl my-20 sm:mx-10">
    
        <div class="flex flex-col items-center justify-center w-full p-3">
            <h1 class="text-3xl font-bold mb-6">Forgot Password</h1>
            <form method="post" action="forgot-password" class="w-full max-w-sm">
                <div class="mb-4">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">New Password:</label>
                    <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Enter a new password">
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="block text-gray-700 text-sm font-bold mb-2">Re-type the Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Re-type the password">
                </div>
                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Change Password</button>
                </div>
            </form>
            <div class="mt-4">
                <a href="Sign-in" class="text-blue-500 hover:underline">Back to Log in</a>
            </div>
        </div>
  </main>
  <!--main content ends-->
  <!--footer starts-->
  <%- include("components/footer.ejs") %>
  <!--footer ends-->
  <script src="js/script1.js"></script>
  <script src="js/lightdark.js"></script>

</body>

</html>